/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #4800d6 !important;
  --toolbarbutton-icon-fill: #cabeff !important;
  --toolbar-field-color: #e6e0ef !important;
  --tab-selected-textcolor: #cabeff !important;
  --toolbar-color: #e6e0ef !important;
  --arrowpanel-color: #e6e0ef !important;
  --arrowpanel-background: #201e29 !important;
  --sidebar-text-color: #e6e0ef !important;
  --zen-main-browser-background: #14121c !important;
  --zen-main-browser-background-toolbar: #14121c !important;
}

#zen-browser-background {
  --zen-main-browser-background: #14121c !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #14121c !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #201e29 !important;
}

#zen-workspaces-button {
  background-color: #201e29 !important;
}

#TabsToolbar {
  background-color: #14121c !important;
}

.urlbar-background {
  background-color: #201e29 !important;
}

.urlbar-input::selection {
  color: #31009a !important;
  background-color: #cabeff !important;
}

.urlbarView-url {
  color: #c9c4d3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #cabeff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d1c7ff !important;
  --identity-icon-color: #d1c7ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #cabeff !important;
  --identity-icon-color: #cabeff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb7 !important;
  --identity-icon-color: #a5ffb7 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd972 !important;
  --identity-icon-color: #ffd972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb4 !important;
  --identity-icon-color: #ff9fb4 !important;
}

.identity-color-pink {
  --identity-tab-color: #d9d1ff !important;
  --identity-icon-color: #d9d1ff !important;
}

.identity-color-purple {
  --identity-tab-color: #493e76 !important;
  --identity-icon-color: #493e76 !important;
}

#zen-appcontent-navbar-container {
  background-color: #14121c !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #cabeff !important;
  color: #cabeff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #cabeff !important;
  color: #cabeff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #cabeff !important;
}
